@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<!--Bootstrap text style-->
<div class="text-center">
    <h1 class="display-4">Book Store Home</h1>
</div>
<!--Aubrey Farnbach Section 2 Group 1-->
<!--Bootstrapp Table style-->
<table class="table table-striped">
    <thead>
        <tr><th>Title</th><th>Author</th><th>Publisher</th><th>Classification / Category</th><th>Price</th><th>ISBN</th></tr>
    </thead>
    <tbody>
        <!--This pulls in all data from the database-->
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Title</td>
                <!--Presents full name-->
                <td>@x.AuthorFirst @x.AuthorLast</td>
                <td>@x.Publisher</td>
                <!--Presents fiction/non-fiction and the specific category together in a list-->
                <td>@x.ClassificationCategoryA, @x.ClassificationCategoryB</td>
                <!--formats with dollar sign-->
                <td>$@x.Price</td>
                <td>@x.Isbn</td>
            </tr>
        }
    </tbody>
</table>